h1 {
  font-size: 1.75rem;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

p {
  margin: .5rem 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.formContainer {
  > div {
    margin: 1rem 0;
  }
  label {
    display: block;
    margin-bottom: .25rem;
  }
  input,
  textarea {
    width: 100%;
    padding: .5rem;
    &.bigInput {
      font-size: 2rem;
      font-weight: bold;
      padding: 1rem;
      &:focus-visible {
        outline: none;
      }
    }
  }
}

.smallText {
  font-size: .8rem;
}

.lightText {
  color: #aaa;
}

.flex {
  display: flex;
  &.itemCenter {
    align-items: center;
  }
  &.itemStart {
    align-items: flex-start;
  }
}

.btn {
  border-radius: .25rem;
  font-weight: bold;
  font-size: .8rem;
  padding: .5rem 2rem;
  transition: all .2s ease;
  &:hover {
    background-color: #545454;
  }
  &_black {
    background-color: #242424;
    color: #eee;
  }
  &_blue {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #0070f3;
    color: #0070f3;
    &:hover {
      opacity: .8;
      color: #0070f3;
    }
  }
}

.contentBody {
  white-space: pre-wrap;
}
