.feedContainer {
  margin: 1rem 0 2rem;
}

.feedHeader {
  margin-bottom: .5rem;
}

.feedHeaderLeft {
  display: flex;
  align-items: center;
}

.avatar {
  width: 32px;
  height: 32px;
  margin-right: .5rem;
  img {
    border-radius: 100%;
  }
}

.feedmeta {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.username {
  font-size: .8rem;
  font-weight: 600;
  margin-bottom: 0;
  line-height: 1rem;
}

.date {
  color: #999;
  font-size: .6rem;
  font-weight: 600;
}

.outputCard {
  background-color: #fff;
  border-radius: .25rem;
  line-height: 1.25rem;
  padding: .75rem;
  p {
    font-size: .8rem;
    margin: 0;
    word-break: break-all;
  }
}

.inlineHeadlineContainer {
  display: flex;
  align-items: center;
  img {
    display: inline-block;
    margin: 0 .5rem 0 0;
  }
}

.inlineHeadline {
  font-size: 1rem;
  font-weight: 600;
  img {
    width: 30px;
    height: 40px;
    object-fit: cover;
  }
}

.subTitle {
  color: #666;
  font-size: .8rem;
  margin-left: .25rem;
}

.backLink {
  position: relative;
  z-index: 5;
  a {
    width: 40px;
    height: 40px;
    border: 1px solid #666;
    border-radius: 100%;
    font-size: .8rem;
    width: 10rem;
    line-height: .8rem;
    padding: .5rem;
  }
}
