.container {
  background-color: rgba(255, 255, 255, .8);
  margin-bottom: 3rem;
  .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: .5rem 0;
    .list {
      display: flex;
      align-items: center;
      list-style: none;
      a {
        margin-right: 1rem;
        &.btn {
          border-radius: .25rem;
          padding: .5rem 2rem;
          &:hover {
            color: #eee;
            opacity: .8;
          }
        }
      }
      li:last-child a {
        margin-right: 0;
      }
    }
    a {
      display: block;
      padding: 1rem 0;
    }
  }
}

.logo {
  display: inline-block;
  font-weight: bold;
}
