.card {
  position: relative;
  width: 100%;
  min-height: 200px;
  background-color: #fff;
  border-radius: .5rem;
  padding: 2rem;
  margin: .5rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 99;
  h2 {
    font-size: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
  }
  p {
    text-align: left;
  }
  &Front {
    position: relative;
    opacity: 1;
    transform: rotateY(0deg);
    transition:
      opacity 100ms 150ms,
      transform 300ms 150ms;
  }
  &Back {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transform:rotateY(90deg);
    transition:
        opacity 50ms 200ms,
        transform 300ms;
  }
}

.back {
  background-color: #f6f2f2;
}

.speechButton {
  position: absolute;
  background-color: #404040;
  color: #fff;
  width: 48px;
  height: 48px;
  border-radius: 1000px;
  border: 1px solid rgba(0, 0, 0, .25);
  padding: 1rem;
  right: 1rem;
  bottom: 1rem;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}
