.cardContainer {
  position: relative;
  display: flex;
  margin: 0 1rem 1rem 0;
}

.link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.lap {
  &Container {
    position: absolute;
    bottom: .75rem;
    right: .75rem;
    background: rgba(0, 0, 0, .8);
    border-radius: .25rem;
    color: #e9dacb;
    font-size: .8rem;
    font-weight: 600;
  }
  &Inner {
    display: flex;
    align-items: flex-end;
    padding: .125rem .75rem;
  }
  &Value {
    font-size: .8rem;
    margin-right: .05rem;
  }
}

.cardInner {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #fff;
  border-radius: .5rem;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .1);
  width: 300px;
  padding: .5rem;
  &Img {
    width: 90px;
    height: 120px;
    object-fit: cover;
    border-radius: .5rem;
  }
  &Meta {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: .5rem 1rem;
    h3 {
      font-weight: 600;
      line-height: 1.2rem;
    }
    span {
      font-size: .8rem;
      margin-right: .25rem;
    }
  }
}

.progressContainer {
  position: relative;
  width: 100%;
}

.progressBarContainer,
.progressParentBarContainer {
  position: absolute;
  width: 50%;
  height: 6px;
}

.lap {
  font-size: .8rem;
  font-weight: 600;
  display: inline-block;
  margin-bottom: 1.25rem;
}

.progressParentBar {
  height: 6px;
  position: absolute;
  left: 0;
  bottom: .5rem;
  width: 100%;
  background: #eee;
  border-radius: 0 .5rem .5rem 0;
}

.progressValue {
  position: absolute;
  bottom: 1.25rem;
  left: 0;
  font-size: .8rem;
  font-weight: 600;
  color: #999;
  &Done {
    margin-right: .25rem;
  }
  &Chapters {
    margin-left: .25rem;
  }
}

.progressBar {
  position: absolute;
  height: 6px;
  left: 0;
  bottom: .5rem;
  // background: rgb(80, 175, 216);
  // background: rgb(85,214,212);
  // background: linear-gradient(90deg, rgba(85,214,212,1) 0%, rgba(60,79,176,1) 100%);
  background-color: rgb(85, 214, 212);
  border-radius: 0 .5rem .5rem 0;
}

