.headline {
  font-weight: 700;
  margin-bottom: 1rem;
}

.flashcard {
  background-color: #fff;
  border-radius: .5rem;
  height: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
  .frontTitle,
  .backTitle {
    border: none;
    color: #404040;
    font-size: 1.5rem;
    text-align: center;
    width: 100%;
    padding: .5rem;
    margin-bottom: .5rem;
  }
  .frontDescription,
  .backDescription {
    color: #707070;
    border: none;
    width: 100%;
    padding: .5rem;
  }
}

.button {
  background-color: rgb(25, 9, 35);
  border: 1px solid #fff;
  border-radius: 2rem;
  padding: .5rem 1.5rem;
  font-size: 1rem;
  font-weight: 600;
  margin: .25rem 1rem .25rem 0;
  &.currentType {
    background-color: #fff;
    color: rgb(25, 9, 35);
  }
  &Container {
    display: flex;
    margin-bottom: 1rem;
  }
  &Send {
    background-color: rgb(226, 78, 125);
    border-radius: .5rem;
    padding: .5rem 1rem;
    margin-left: .5rem;
  }
}

.inner {
  margin: 0 -1rem 1rem -1rem;
  overflow-x: scroll;
}

.card {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  width: 170%;
  padding: 0 1rem;
  overflow-x: scroll;
  &Front {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 70%;
    margin-right: 2rem;
  }
  &Back {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 70%;
    .flashCard {
      background-color: #1e1e28;
      color: #fff;
    }
  }
}

.cardBack .flashcard {
  background-color: #1e1e28;
  color: #fff;
  input,
  textarea {
    background-color: #1e1e28;
    color: #fff;
  }
}

.cropper {
  &Container {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color:#222;
    color: #fff;
    z-index: 102;
  }
  &Inner {
    padding: 2rem 1rem 1rem;
  }
  &Buttons {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    transition: all .2s ease-in-out;
    &Aspect {
      border: 2px solid #fff;
      border-radius: .25rem;
      font-weight: 600;
      letter-spacing: .2rem;
      padding: .5rem 1rem;
      &Selected {
        background-color: rgba(255, 255, 255, .9);
        color: #444;
      }
    }
    &Submit {
      width: 80%;
      margin: 2rem auto;
    }
    &Primary {
      font-weight: 600;
      width: 100%;
      background-color: rgba(255, 255, 255, .9);
      border-radius: .25rem;
      color: #444;
      padding: .5rem 1rem;
      margin: .5rem 0;
    }
    &Chancel {
      width: 100%;
      padding: .5rem 1rem;
    }
  }
}

